.maintext {
  text-align: center;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.box2 > * {
  flex: 1 1 300px;
}

/* media only screen? */

@media (max-width: 1400px) {
  .box2 > * {
    flex: 1 1 150px;
  }
  .box2 {
    border: none;
  }
}

.too {
  color: white;
  border: 2px solid purple;
  border-radius: 12px;
  padding: 10px;
}

.too > img,
.too > h4 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.too > img {
  margin-right: 10px;
}

.pug {
  border: 2px solid red;
}

.tool {
  border-width: 2px !important;
  border-color: white !important;
}

.tool > p {
  color: white;
  margin: 0;
}

.testin {
  color: white;
  border: 2px solid gold;
  border-radius: 12px;
  display: inline-block;
  padding: 10px;
  margin: 2px;
  vertical-align: top;
}

.testin > img,
.testin > h3,
.testin > h4 {
  display: inline-block;
  margin: 0;
}

.spaceBoon {
  margin-bottom: 100px;
}

.derp {
  margin-top: 10px;
}

h2 {
  color: white;
}

h5 {
  margin: 0;
}

.bordering {
  text-align: center;
  border: 2px solid purple;
}

.contains {
  border: 2px solid blue;
}

.conter {
  border: 2px solid red;
  display: inline-block;
  padding: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: none;
}

.one,
.three {
  background: darkslategrey;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
}

.two {
  order: 1;
  border: 2px solid black;
  border-radius: 12px;
  background: darkslategrey;
  padding: 10px;
}

.three {
  background: darkslategrey;
}

.tx1,
.tx2 {
  background: darkslategrey;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
}

.tx1 {
  flex: 1 1 200px;
}

.tx2 {
  flex: 1 1 200px;
}
