@font-face {
  font-family: "Xtra";
  src: url("https://db.onlinewebfonts.com/t/1305f898d68e8a755f99aac01f2a48c6.eot");
  src: url("https://db.onlinewebfonts.com/t/1305f898d68e8a755f99aac01f2a48c6.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1305f898d68e8a755f99aac01f2a48c6.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/1305f898d68e8a755f99aac01f2a48c6.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/1305f898d68e8a755f99aac01f2a48c6.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/1305f898d68e8a755f99aac01f2a48c6.svg#Xtra")
      format("svg");
}

.maintext {
  text-align: center;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.box2 > * {
  flex: 1 1 100%;
}

/* media only screen? */

@media (max-width: 1400px) {
  .box2 > * {
    flex: 1 1 100%;
  }
  .box2 {
    border: none;
  }
}

.spaceBoon {
  margin-bottom: 100px;
}

.derp {
  margin-top: 10px;
}

h2 {
  color: white;
}

h5 {
  margin: 0;
}

/* Relative position needed for z-index */
.box {
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  border: 2px solid red;
  margin: 0 100px 0 100px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .box {
    margin: 0 50px 0 50px;
  }
}

.tx1,
.tx2 {
  background-image: url("../images/asp.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  border: 2px solid black;
  border-radius: 12px;
}

.tx1 {
  flex: 1 1 200px;
}

.tx2 {
  flex: 1 1 200px;
}

.avail {
  min-height: 200px;
}
