.maintext {
  text-align: center;
  color: white;
  font-family: "Belleza" !important;
}

.description {
  color: white;
  text-align: center;
  font-family: "Belleza" !important;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContainer {
  max-width: 30%;
  display: inline-block;
  padding-top: 50px;
}

.zag {
  max-width: 600px;
  max-height: 300px;
  display: inline-block;
  border: 2px solid gray;
  border-radius: 12px;
  margin-right: 100px;
}

.zag:hover {
  opacity: 0.8;
}
