.maintext {
  text-align: center;
  color: white;
  font-family: "Belleza" !important;
}

.description {
  color: white;
  text-align: center;
  font-family: "Belleza" !important;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContainer {
  max-width: 30%;
  padding-top: 50px;
}

.imgContainer {
  max-width: 50%;
  height: auto;
  margin-right: 100px;
}

.zag {
  border: 2px solid gray;
  border-radius: 12px;
}

.zag:hover {
  opacity: 0.8;
}

@media (max-width: 1000px) {
  .parent {
    flex-direction: column;
  }
  .imgContainer {
    margin-top: 50px;
    margin-right: 0px;
  }
  .descriptionContainer {
    max-width: 80%;
  }
}
