.testin {
  color: white;
  background: #092912;
  border: 2px solid #457d55;
  border-radius: 12px;
  display: inline-block;
  padding: 10px;
  margin: 2px;
  vertical-align: top;
}

.testin > img,
.testin > h3,
.testin > h4 {
  display: inline-block;
  margin: 0;
}

.testin > img {
  margin-right: 10px;
}

.testimg {
  width: 40px;
  height: 40px;
}

h5 {
  margin: 0;
}

.boonOn,
.boonOff {
  max-width: 80px;
  max-height: 80px;
  margin-right: 20px;
}

.boonOn:hover,
.boonOff:hover {
  opacity: 0.8;
}

.boonOn {
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 30px aqua);
}

.boonOff {
  filter: drop-shadow(5px 5px 5px #222);
}

.common,
.rare,
.epic,
.heroic {
  color: white;
}

.rare {
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

.epic {
  text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple;
}

.heroic {
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.legendary {
  color: orange;
}

.duo {
  color: lime;
}

.tool {
  border-width: 2px !important;
  border-color: yellow !important;
  background: #1a1a1a !important;
  border-radius: 12px !important;
  opacity: 1 !important;
  font-family: "Belleza" !important;
}

.tool > p {
  color: white;
  margin: 0;
  font-size: 16px;
}

.spaceBoon {
  margin-bottom: 100px;
}

.too {
  color: white;
  background: #092912;
  border: 2px solid #457d55;
  margin: 2px;
  border-radius: 12px;
  padding: 10px;
}

.too > img,
.too > h4 {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.too > img {
  margin-right: 10px;
}

.too > h4 {
  padding-top: 10px;
}

.titleFormat,
.aphroditeTitle,
.aresTitle,
.artemisTitle,
.athenaTitle,
.demeterTitle,
.dionysusTitle,
.poseidonTitle,
.zeusTitle {
  color: white;
  padding-top: 50px;
  font-family: "Xtra";
  font-size: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.aphroditeTitle {
  filter: drop-shadow(2px 2px 4px pink);
}

.aresTitle {
  filter: drop-shadow(2px 2px 4px red);
}

.artemisTitle {
  filter: drop-shadow(2px 2px 4px green);
}

.athenaTitle {
  filter: drop-shadow(2px 2px 4px lemonchiffon);
}

.demeterTitle {
  filter: drop-shadow(2px 2px 4px aqua);
}

.dionysusTitle {
  filter: drop-shadow(2px 2px 4px purple);
}

.poseidonTitle {
  filter: drop-shadow(2px 2px 4px blue);
}

.zeusTitle {
  filter: drop-shadow(2px 2px 4px yellow);
}

.titleContainer {
  text-align: center;
  height: 150px;
  position: relative;
  padding: 0px;
}

.godTester {
  position: absolute;
  top: 15%;
  left: 20%;
  z-index: 0;
}

@media screen and (max-width: 800px) {
  .godTester {
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    left: 0;
    right: 0;
  }
  .title {
    font-size: 40px;
    top: 15%;
  }
}
