.testin {
  color: white;
  background: black;
  border: 2px solid gold;
  border-radius: 12px;
  display: inline-block;
  padding: 10px;
  margin: 2px;
  vertical-align: top;
}

.testin > img,
.testin > h3,
.testin > h4 {
  display: inline-block;
  margin: 0;
}

.testimg {
  width: 40px;
  height: 40px;
}

h5 {
  margin: 0;
}

.boonOff {
  max-width: 80px;
  max-height: 80px;
  filter: drop-shadow(5px 5px 5px #222);
}

.boonOff:hover {
  opacity: 0.8;
}

.boonOn {
  max-width: 80px;
  max-height: 80px;
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 30px aqua);
}

.boonOn:hover {
  opacity: 0.8;
}

.common {
  color: white;
}

.rare {
  color: blue;
}

.epic {
  color: purple;
}

.heroic {
  color: red;
}

.legendary {
  color: orange;
}

.tool {
  border-width: 2px !important;
  border-color: white !important;
  background: black !important;
  opacity: 1 !important;
}

.tool > p {
  color: white;
  margin: 0;
}

.spaceBoon {
  margin-bottom: 100px;
}

.too {
  color: white;
  background: black;
  border: 2px solid purple;
  border-radius: 12px;
  padding: 10px;
}

.too > img,
.too > h4 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.too > img {
  margin-right: 10px;
}
