.testin > img,
.testin > h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.testimg {
  width: 40px;
  height: 40px;
}

h5 {
  margin: 0;
}

.bordering {
  border: 2px solid purple;
  border-radius: 12px;
}

.contains {
  border: none;
  display: inline-block;
  vertical-align: top;
}

.conter {
  border: 2px solid red;
  display: inline-block;
  padding: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1000px;
  border: 2px solid green;
}

.one,
.three {
  flex: 0 0 50%;
  background: cyan;
  width: 50%;
}
.two {
  flex: 0 0 100%;
  order: 1;
  background: moccasin;
  width: 50%;
}
.three {
  background: tomato;
}

.buttonReadjust {
  width: 100px;
  height: 100px;
  filter: drop-shadow(5px 5px 5px #222);
}

.buttonReadjust:hover {
  opacity: 0.8;
}

.buttonFlare {
  width: 100px;
  height: 100px;
  filter: drop-shadow(5px 5px 5px #222) drop-shadow(0 0 10px #fff)
    drop-shadow(0 0 30px rgb(252, 226, 32));
}

.buttonFlare:hover {
  opacity: 0.8;
}
