.logoFormat {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 100px;
}

.linkFormat {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.linkFormat:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.navbar {
  min-height: 200px;
  background-color: darkred;
  margin-bottom: 50px;
}

.navbar-nav,
.nav-link {
  /* horizontal-pos, vertical-pos, blur radius, color */
  /*text-shadow: 2px 2px 4px #0066CC;*/
  font-size: 20px;
  font-family: "Varela";
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-brand {
  color: white !important;
  margin-left: 20px;
  font-size: 50px !important;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-shadow: 4px 4px 4px black;
}

.spacing {
  margin-right: 10px;
}
